/local-testbed/.env
/local/.env
docker-compose/docker/postgres/init-db.sql

helm.backend.err.log

*docker-compose.yml

*values.local.yaml

frontend.local.yaml
backend.local.yaml

skaffold.log
skaffold.yaml

*deploy-info.env

